<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.8.3.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/feedback.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tab-menu.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/team-sidebar.js")" type="text/javascript"></script>
    <script type="text/javascript">teamID = @ViewBag.TeamID;</script>
</head>
<body>
    <div id="json-buffer"></div>
    <div id="dropdown-content-buffer"></div>
    <div id="dropdown-default-team"><ul><li>@ViewBag.Name <img src="@Url.Content("~/Content/images/dropdown-triangle.png")" height="9" width="9" /></li></ul></div>
    <div id="topbar"></div>
    <div id="background"></div>
    
    <div class="page">

        <div id="header">
            <div id="title">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Content/images/dugoutdigitslogo.png")" width="200" height="70" />
                </a>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
        </div>

        <div id="menucontainer">
            <ul id="menu">
                <li id="tab-overview"><div class="menu-tab" onClick="menu_handler('tab-overview', @ViewBag.TeamID)">Overview</div></li>
                <li id="tab-schedule"><div class="menu-tab" onClick="menu_handler('tab-schedule', @ViewBag.TeamID)">Schedule</div></li>
                <li id="tab-roster"><div class="menu-tab" onClick="menu_handler('tab-roster', @ViewBag.TeamID)">Roster</div></li>
                <li id="tab-statistics"><div class="menu-tab" onClick="menu_handler('tab-stats', @ViewBag.TeamID)">Stats</div></li>
                <li id="tab-messages"><div class="menu-tab" onClick="menu_handler('tab-messages', @ViewBag.TeamID)">Messages</div></li>
                <li id="dropdown"><div id="dropdown-content">Dropdown</div></li>
            </ul>
        </div>

        <div id="main" style="clear: both;">
            <div id="content">
                @RenderBody()
            </div>
        </div>

        <div id="footer">
            Copyright &copy; DugoutDigits 2012
        </div>

        <div id="submit-feedback" onclick="show_feedback_form()">
            <p style="margin:10px 20px;">Submit Feedback</p>
        </div>
        <div class="lightbox-black" id="lightbox-black-feedback" onclick='hide_feedback_form()'></div>
        <div class="lightbox-content" id="lightbox-content-feedback"></div>

    </div>
</body>
</html>
